body {
    background-color: #f9faff;
}

.Header {
    padding: inherit;
    background-color: #ffffff;
    height: 64px;
}

#Link {
    font-family: "Roboto Medium",sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.3px !important;
    color: #071eb3 !important;
}

.BodyPart {
    margin-top: 10pc;
}

/*INPUT RANGE*/


input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    background-color: transparent;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #bfbfbf;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-progress-value{

}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 5px solid #071EB3;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    /*background: #a3a3a3;*/
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #a3a3a3;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 5px solid #071EB3;
    height: 8px;
    width: 8px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 5px solid #071EB3;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

/*Progress Color*/
/*Firefox*/
input[type="range"]::-moz-range-progress {
    background-color: #071eb3;

}
/*Chrome*/




.pagination-text {
    font-size: 32px;
    font-family: 'Cormorant Garamond Light', cursive;
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
}

.link-modify{
    font-family: 'Roboto Medium', serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #071eb3;
    margin-top: 10px;
}
.title-big{
    font-family: "Roboto Medium", sans-serif;
}

.menu-items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between ;
    height: 64px;
}

.menu-item{
    display: flex;
    flex-direction: column;
    padding: inherit;
}
.counter-value{
}




